#link {
  display: flex;
  font-size: 2.5rem;
  margin-left: 2%;
  position: fixed;
  z-index: 2;
  color: var(--color-bg);
  justify-content: space-between;
  bottom: 5rem;
}
#git {
  display: flex;
  font-size: 2.5rem;
  margin-left: 96%;
  position: fixed;
  z-index: 2;
  color: var(--color-bg);
  justify-content: space-between;
  bottom: 5rem;
}
#git:hover {
  color: var(--color-bg);
  font-size: 3rem;
  transition: ease 0.5s;
}
#link:hover {
  color: var(--color-bg);
  font-size: 3rem;
  transition: ease 0.5s;
}
@media all and (min-width: 634px) and (max-width: 1115px){
  #social {
    display: none;
    align-items: center;
    position: fixed;
    font-size: 2.5rem;
    z-index: 2;
    bottom: 10rem;
    display: none;
  }
}
@media all and (min-width: 320px) and (max-width: 635px) {
  #social {
    align-items: center;
    position: fixed;
    font-size: 2.5rem;
    z-index: 2;
    bottom: 10rem;
    display: none;
  }
}
